@font-face {
  font-family: nazi;
  font-weight: 200;
  src: url(../fonts/nazanin/0\ Nazanin.TTF);
}
@font-face {
  font-family: nazi;
  font-weight: 400;
  src: url(../fonts/nazanin/0\ Nazanin\ Bold.TTF);
}
* {
  box-sizing: border-box;
  color: #333;
  font-family: nazi;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  direction: rtl;
}

.container {
  width: 100%;
  padding: 0 60px;
}
.clearfix {
  clear: both;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.col_4 {
  float: right;
  width: 25%;
  height: auto;
  padding: 15px;
}

.header {
  width: 100%;
  box-shadow: 0px 1px 2px #bbb;
  height: 80px;
  background-color: #fff;
}
.hamber_menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  margin: 20px 0;
  outline: none;
}

.header_logo {
  float: right;
  border-top: 10px;
}
.header_logo img {
  width: 80px;
  height: auto;
}
.header_nav {
  float: right;
  margin-right: 30px;
}

.header_nav li {
  display: inline-block;
  padding: 23px 10px;
  /* float: right; */
}
.login_btn {
  background-color: #0080ff;
  color: #fff;
  padding: 15px 10px;
  border: none;
  margin: 12px 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  float: left;
}

/* intro_page */
.page_intro {
  width: 100%;
  height: 400px;
  display: flex;
  padding: 30px 0;
  background: rgb(0, 24, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 24, 36, 1) 0%,
    rgba(0, 151, 255, 1) 0%,
    rgba(9, 62, 121, 1) 100%
  );
}
.page_intro_right {
  width: 50%;
  height: auto;
  float: right;
}

.page_intro_right h1 {
  float: right;
  color: #fff;
  font-size: 70px;
  font-weight: 400;
}
.page_intro_right_btns {
  margin-top: 250px;
  width: 300px;
  display: flex;
}
.page_intro_right_btn {
  float: right;
  color: #fff;
  background-color: transparent;
  width: 130px;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-left: 8px;
  font: 20px;
  padding: 10px;
  cursor: pointer;
}
.page_intro_left {
  width: 50%;
  height: auto;
  float: right;
}
.page_intro_left img {
  width: 100%;
  height: 300px;
  background-image: none;
}

.new_posts h2 {
  margin: 20px 0;
  font-weight: 400;
  padding: 0 15px;
}

.new_post_card {
  width: 100%;
  height: 335px;
  box-shadow: 0px 1px 3px #bbb;
  background-color: #fff;
}
.new_post_pic {
  width: 100%;
  height: 250px;
}
.new_post_pic img {
  width: 100%;
  height: 250px;
  background: transparent;
}
.new_post_title {
  float: right;
  margin: 15px;
}
.new_post_price {
  float: left;
  margin: 15px;
  text-decoration: line-through;
}
.new_post_description {
  float: right;
  margin: 0 15px;
}
.new_post_price_off {
  float: left;
  margin: 0 15px;
}
.home_ad {
  padding-top: 30px;
}
.home_ad_right {
  width: 75%;
  height: 300px;
  float: right;
  padding: 15px;
}
.home_ad_right img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.home_ad_left {
  width: 25%;
  height: 300px;
  float: left;
  padding: 15px;
}
.home_ad_left img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.most_sales {
  background-color: #d9f1ff;
}
.most_sales h2 {
  font-weight: 400;
  padding: 15px 15px 0;
  margin: 20px 0;
  font-size: 20px;
}
.most_sales_item {
  width: calc(100% / 3);
  height: 350px;
  padding: 15px;
  float: right;
}
.why_us {
  padding: 30px 0;
}

.why_us_item:hover {
  border: 2px solid #bbb;
}
.why_us_card {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px;
}
.why_us_card img {
  width: 40%;
  height: auto;
  margin-bottom: 20px;
}
.why_us_card h4 {
  font-weight: 400;
  font-size: 18px;
}
.why_us_card p {
  font-size: 16px;
  color: #666;
}
/* footer */
.main_footer{
  width: 100%;
  height: auto;
  background-color: #333;
  padding: 20px 0;
}
.main_footer_f_l{
  width: 30%;
  height: auto;
  padding: 15px;
  float: right;
}
.main_footer_card h4{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;

}
.main_footer_card p{
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  
}
.main_footer_mid{
  width: 20%;
  height: auto;
  padding: 15px;
  float: right;
}

.main_footer_card ul li{
  margin-bottom: 3px;
}
.main_footer_card ul li a{
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  
}
.main_footer_card ul li span{
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  
}
.main_footer_f_l img{
  width: 120px;
  height: 90px;
  
}
.main_footer_card_namad h4{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  
}
.footer_line{
  border-color: #7f7f7f;
}
.footer_under{
  text-align: right;
  padding-top: 20px;
  
}
.footer_under p{
  color: #fff;
  display: inline-block;
  font-size: 16px;

}
.footer_under img{
  width: 25px;
  height: auto;
  color: #fff;
  margin: 3px;
}

.footer_social_item{
  float: left;
}









@media screen and (max-width: 1150px) {
  .col_4 {
    width: 50%;
  }
  .container {
    padding: 0 200px;
  }
  .home_ad_left {
    display: none;
  }
  .home_ad_right {
    width: 100%;
  }
  .most_sales_item {
    width: 50%;
  }
  .col_4 {
    width: 50%;
  }
  .main_footer_f_l{
    width: 50%;
   
  }
  .main_footer_mid{
    width: 50%;
   
  }
  .page_intro_left{
    display: none;
  }
  .page_intro_right{
    width: 100%;
  }
  .page_intro br{
    display: none;
  }
  .page_intro_right h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 59px;
  }
  .page_intro_right_btns{
    text-align: center;
  }
}
@media screen and (max-width: 950px) {
  .container {
    padding: 0 60px;
  }
}
@media screen and (max-width: 650px) {
  .col_4 {
    width: 100%;
  }
  .header_nav {
    display: none;
  }
  .header_logo {
    display: none;
  }
  .hamber_menu {
    display: inline-block;
  }
  .login_btn {
    margin: -80px 0;
  }
  .most_sales_item {
    width: 100%;
  }
  .col_4 {
    width: 100%;
  }
  .main_footer_f_l{
    width: 100%;
   
  }
  .main_footer_mid{
    width: 100%;
   
  }
 

}
@media screen and (max-width: 350px) {
  .container {
    padding: 0 20px;
  }
  .page_intro_right_btns{
    margin: 0;
  }
}
